@model ICollection<Ingredient>
<div class="row">
    <h6>
        Ingredients
        <button type="button" class="btn btn-secondary" onclick="addIngredient()"><i class="bi bi-plus-circle-fill"></i></button>
    </h6>
</div>
<div id="ingredientsBeingAdded" class="row">
    <div class="cardBody"></div>
</div>


<script type="text/javascript">
                var newIngredientIndex = 0;

                //var newIngredients = [];

                var quantityTypes = '@string.Join(",",Enum.GetNames(typeof(QuantityUnit)))';

                var quantityTypesArray = quantityTypes.split(",");

                var quantityTypesOptions = [];

                window.addEventListener("DOMContentLoaded", function(){
                    $.each(quantityTypesArray, function(indexInArray, value) {
                        quantityTypesOptions.push('<option value="'+value+'">'+value+'</option>');
                    });
                });

                function removeIngredient(index){
                    $("#ingredient-adder-" + index).remove();
                    //newIngredients = newIngredients.filter(function(ingredient) { ingredient.index = index; });
                }

                //Selene, look at these references if you forget what's going on here before you work on it next!
                //https://www.pluralsight.com/guides/asp.net-mvc-getting-default-data-binding-right-for-hierarchical-views
                //https://stackoverflow.com/questions/737917/all-enum-items-to-string-c
                //
                //
                function addIngredient(){
                    //newIngredients.push(new {index = newIngredientIndex});
                    $("#ingredientsBeingAdded").append('\
    <div id="ingredient-adder-' + newIngredientIndex + '" class="ingredient-adder-item row">\
        <input type="number" id="ingredient-adder-' + newIngredientIndex + '-quantity" name="Ingredients[' + newIngredientIndex + '].Quantity" placeholder="Qty" class="col-2" \> \
        <select id="ingredient-adder-' + newIngredientIndex + '-quantity-type" name="Ingredients[' + newIngredientIndex + '].QuantityType" placeholder="Qty Type" class="col-3" > \
            ' + quantityTypesOptions.join('') + '\
        </select>\
        <input type="textBox" id="ingredient-adder-' + newIngredientIndex + '-name" name="Ingredients[' + newIngredientIndex + '].Name" placeholder="Ingredient Name" class="col-6" \> \
        <button type="button" class="btn btn-warning col-1" onclick="removeIngredient(' + newIngredientIndex + ')"><i class="bi bi-trash3-fill"></i></button>\
    </div>\
        ');

                    newIngredientIndex++;
                }
</script>