@model ICollection<Ingredient>
<div class="row">
    <h6>
        Ingredients
        <button type="button" class="btn btn-secondary" onclick="addIngredient()"><i class="bi bi-plus-circle"></i></button>
    </h6>
</div>
    <div class="row card-body" id="ingredientsBeingAdded" ></div>


<script type="text/javascript">
                var newIngredientIndex = 0;

                var quantityUnits = '@string.Join(",",Enum.GetNames(typeof(QuantityUnit)))';

                var quantityUnitsArray = quantityUnits.split(",");

                var quantityUnitsOptions = [];

                window.addEventListener("DOMContentLoaded", function(){
                    $.each(quantityUnitsArray, function(indexInArray, value) {
                        quantityUnitsOptions.push('<option value="'+value+'">'+value+'</option>');
                    });
                });

                function removeIngredient(index){
                    $("#ingredient-adder-" + index).remove();
                    refreshPreview();
                }

                function addIngredient(){
                    $("#ingredientsBeingAdded").append('\
    <div id="ingredient-adder-' + newIngredientIndex + '" class="ingredient-adder-item row"  onInput="refreshPreview();">\
        <input type="number" id="ingredient-adder-' + newIngredientIndex + '-quantity" name="Ingredients[' + newIngredientIndex + '].Quantity" placeholder="Qty" class="col-2"  onInput="refreshPreview();" \> \
        <select id="ingredient-adder-' + newIngredientIndex + '-quantity-type" name="Ingredients[' + newIngredientIndex + '].QuantityUnit" placeholder="Qty Unit" class="col-3"  onInput="refreshPreview();" > \
            ' + quantityUnitsOptions.join('') + '\
        </select>\
        <input type="textBox" id="ingredient-adder-' + newIngredientIndex + '-name" name="Ingredients[' + newIngredientIndex + '].Name" placeholder="Ingredient Name" class="col-6"  onInput="refreshPreview();" \> \
        <button type="button" class="btn btn-warning col-1" onclick="removeIngredient(' + newIngredientIndex + ')"><i class="bi bi-trash3-fill"></i></button>\
    </div>\
        ');

                    newIngredientIndex++;
                    refreshPreview();
                }
</script>