@model Recipe
<div class="row"><div class="title">@Model.Title</div></div>
<div class="row recipeBody">
    <div class="description col-8">@Model.Description</div>
    <div class="col-4 recipeImage"><img src="@(!string.IsNullOrWhiteSpace(Model.ImageUrl) ? Model.ImageUrl : "./favicon.ico")" class="img-fluid" /></div>
</div>