@model Recipe
<div class="recipeHeader">
    <div class="row"><div class="title col-6">@Model.Title</div></div>
    <div class="row recipeBody">
        <div class="description col-4">@Model.Description</div>
        <div class="col-2 recipeImage"><img src="@(!string.IsNullOrWhiteSpace(Model.ImageUrl) ? Model.ImageUrl : "./favicon.ico")" class="img-fluid" /></div>
    </div>
</div>