@model RecipeNavigationConfig
<div class="row">
    <div class="btn-group recipeControls col-6">
        @Html.ActionLink("Open","Details","Recipe",new { Model.Recipe.Id },new { @class = "btn btn-secondary" })
        @Html.ActionLink("Edit","Edit","Recipe",new { Model.Recipe.Id },new { @class = "btn btn-secondary" })
        @Html.ActionLink("Delete","Delete","Recipe",new { Model.Recipe.Id },new { @class = "btn btn-danger" })
    </div>
</div>