html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.recipeImage > img {
    max-height: 100%;
}

.hide {
    display: none;
}

.actionMenu > .btn {
    margin-bottom: 3px;
}

.title {
    font-weight: bold;
    background-color: bisque;
    border: 3px solid khaki;
    border-bottom: 0px;
    margin-top: 3px;
}

.recipeBody > .description {
    background-color: beige;
    border-left: 3px solid khaki;
}

.recipeBody > .recipeImage {
    background-color: beige;
    border-right: 3px solid khaki;
}

.recipeControls {
    background-color: beige;
    border: 3px solid khaki;
    border-top: 0px;
}

    .recipeControls > .btn {
        margin: 1px 2px 0 2px;
    }

.recipeDetailLeft {
    background-color: beige;
    border-left: 3px solid khaki;
    border-right: 3px solid khaki;
}

.recipeDetailRight {
    background-color: beige;
    border: 3px solid khaki;
    border-left: none
}