@using RecipeBook.Models
@model RecipeList


@{
    ViewData["Title"] = "View";
}

<partial name="_RecipeFilter" model=Model.SearchTerms />

<h1>Recipe List</h1>
@foreach (Recipe recipe in Model.Recipes)
{
    RecipeNavigationConfig navigationConfig = new RecipeNavigationConfig { NavigateToSingleOrList = NavigateToSingleOrList.List, Recipe = recipe };
    <div class="row">
        <div class="col-1" style="display: inline-block; background-image: url('paperBindings.png'); background-repeat: repeat-y; width: 5px;"></div>
        <div class="col-11">
            <partial name="_RecipeHeader" model=recipe />
            <partial name="_RecipeControls" model=navigationConfig />
        </div>
    </div>
}

<div id="actionResults">
</div>

<div class="panel">
    <div class="panel-heading">Action Menu</div>
    <div class="btn-group-vertical actionMenu">
        <a onclick="$('#add').toggle()" class="btn btn-primary">Add Recipe</a>
        <a id="preloadDataButton" class="btn btn-primary">Preload Data</a>
        @*<a id="Reload" onclick="$('reloadData').toggle()" class=".btn-primary">Reload</a>*@
    </div>
</div>
<div id="add" class="hide">
    <partial name="_AddRecipe" model=Model.RecipeBeingAdded />
</div>


<script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function(){
             $("#preloadDataButton").on("click", preloadData)
    });

        function preloadData(){
            $("#actionResults").html("");
            $.post("Recipe/AddStartingDataToDatabase", function(result){
                $("#actionResults").html(replaceWindowsNewlinesWithHtmlLinebreaks(result));
            });
        }

    @*function reloadData(){

        }*@
</script>