@using RecipeBook.Models
@model RecipeList;
@{
    ViewData["Title"] = "View";
}

<h1>Recipe List</h1>
@foreach (Recipe recipe in Model.Recipes)
{
    <partial name="_RecipeHeader" model=recipe />
}

<a onclick="$('#add').toggle()">Add Recipe</a>
<div id="add">
    <partial name="_AddRecipe" model=Model.RecipeBeingAdded />
</div>


